.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  z-index: 9999;
=======
>>>>>>> b8fa7a3a8a6145dd3f7b7f94100e18c916627f47

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
<<<<<<< HEAD
  z-index: 9999;
=======
  z-index: 1000;
>>>>>>> b8fa7a3a8a6145dd3f7b7f94100e18c916627f47
}
